<!DOCTYPE html>
<html>
<head>
    <title>
       Gender detection
    </title>
    <link rel="stylesheet" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div >
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/" >Home</a>
        <a class="navbar-brand" href="/about">About</a>
    </nav>
</div>

{% block body %}
<div class="container">
    <h1 class="jumbotron">Gender detection</h1>
    <h2><a href="/index">Click to get started</a></h2>

</div>
{% endblock body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="bottomleft">
    <p>©2021 Hrishikesh Jadhav</p>
</div>
</body>

</html>







